.figurezoom:hover{
	transform:scale(.9);
	
}
 
.information{
    padding: 20px;
    background-color:#F19D4D;
    display: none;}

.topics:hover+ .information{
	    display: block;
}
 
 
.zoomin:hover{
	transform: scale(1.2)
	
} 

.shakeimage{
	display: none;
}

.shake:hover+ .shakeimage {
	    display: block;	
	 }
	 
	 
	 
.rcode {
    background-color:#D3D3D3;
}	 
	 
 
	 .hidenparameter{
	   display: none;
}
	 
	 
.buttons {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #000;
  font-size: 14px;
  background: #D9D9D9;
  padding: 8px 7px 7px 7px;
  border: solid #F19D4D 2px;
  text-decoration: none;
}	 
	 

	 
	 
	.buttons:hover {
    background-color: #F19D4D;
    	transition: 0.7s all ease;
        color: black; 
        border: 2px solid #F19D4D;
} 
	 

input[type=number]:focus {
    background-color: lightblue;
}	 
	 
	 
	 
	 
.select_one select {
    border-radius: 0;
    background: transparent;
    height: 34px;
    padding: 5px;
    border: 0;
    font-size: 16px;
    line-height: 1;
    -webkit-appearance: none;
    width: 268px;
   }     
   .select_one {
    border: 1px solid #CCC;
    overflow: hidden; 
    height: 34px;
    background: #FFF;
    width: 240px;
   }	 
	 
	 .social-slide {
	background-image: url('social_pictures/twitter.png');
	height: 41px;
	width: 48px;
	background-size: 49px 42px;
	#    background-repeat: no-repeat;
	margin: 10px;
	float: left;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.social-slide:hover {
	background-position: 0px -42px;
		background-size: 49px 42px;
	#    background-repeat: no-repeat;
	      color: #77DDF6;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}



.linkedin-slide {
	background-image: url('social_pictures/linkedin.png');
	height: 41px;
	width: 48px;
	background-size: 49px 42px;
	#    background-repeat: no-repeat;
	margin: 10px;
	float: left;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.linkedin-slide:hover {
	background-position: 0px -42px;
		background-size: 49px 42px;
	#    background-repeat: no-repeat;
	      color: #77DDF6;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}



.facebook-slide {
	background-image: url('social_pictures/github.png');
	height: 41px;
	width: 48px;
	background-size: 49px 42px;
	#    background-repeat: no-repeat;
	margin: 10px;
	float: left;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.facebook-slide:hover {
	background-position: 0px -42px;
		background-size: 49px 42px;
	#    background-repeat: no-repeat;
	      color: #77DDF6;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}
	 
	 